*{
    font-size: 1rem;
}

body{
    background-color: antiquewhite;
}
.anasayfa{
    background-color: azure;
}

p.anasayfa{
    background-color: rgb(213, 113, 76);
}

#ana-orta{
    background-color: rgb(67, 67, 167);
}
#iletisim-orta{
    background-color: honeydew;
}
#personeller-orta{
    background-color: powderblue;
}

.personeller{
    background-color: burlywood;
}
.iletisim{
    background-color: darkgray;
}


p{
    color: palevioletred;
    text-align: center;
    font-size: 10px;
}

ul{
    text-align: center;
}